.row {
  justify-content: space-between;

  .menu-item-card {
    padding: 0;
    height: 60vh;
    .card-img-top {
      height: 40%;
    }

    .card-footer {
      color: white;
      h4 {
        font-weight: 300;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .row {
    justify-content: start;

    .menu-item-card {
      height: 50vh;
    }
  }
}
