.navbar {
    background-color: #ff6347;

    .navbar-brand {
        color: #47E3FF !important;
    }

    .active {
        font-weight: bold;
        color: #47E3FF !important;
    }
}

@media screen and (min-width: 992px) {
    .nav-link {
        &:hover {
            color: #47E3FF !important;
        }
    }
}