.home-container {
    min-height: 100vh; width: 100%; left: 0; position: absolute;
    display: flex; justify-content: center; align-items: center;
    .background-container {
        margin: 0; padding: 0; z-index: -1;
        min-height: 100vh; width: 100%; left: 0; position: absolute;
        background-image: url("src/assets/img/bg.jpeg");
        filter: blur(5px); opacity: 50%;
    }

    h1 {
        font-weight: bold; color: white;
        text-shadow: 4px 4px 10px black;
    }
}

